<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/home.css">

</head>

<body>
    <header class="bg-main padding-30">
        <section class="contenedor-logo-serch">


            <a class="logo" href="home">
                <h1>

                    <img src="/imagenes/logo-mercado-liebre.svg" alt="Mercado Liebre" />

                </h1>
            </a>

            <form class="nav-bar"><input class="input" type="search" name="search" id="search" placeholder="buscar productos, marcas y más " />
                <button class="serch-icon" type=" submit "> <i class= "fa-solid fa-magnifying-glass"></i></button>

            </form>
            <p class="copy-header">
                <i class="fas fa-hand-holding-usd"></i> compra en cuotas y sin tarjeta de credito
            </p>
        </section>
        <nav class="main-nav">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <ul class="right-navbar">
                    <li>
                        <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                    </li>
                    <li>
                        <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li>
                        <a href="">Mis Compras <i class="fas fa-shopping-basket"></i></a>
                    </li>
                </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <section>
        <img class="width-100" src="/imagenes/img-home-banner.jpg" alt="" />
    </section>
    <main>
        <section>
            <h2 class="section-tittle">Basado en tu última visita</h2>
            <section class="article-container">
                <article class="product-card ">
                    <img class="width-100" src="/imagenes/img-cafetera-moulinex.jpg" alt="">
                    <div class="description-box">
                        <i class="text-green delivery-icon fas fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="discount text-green">40% off</p>
                        <h3 class="description text-dark-gray">cafetera Moulinex</h3>
                    </div>
                </article>
                <article class="product-card">
                    <img class="width-100" src="/imagenes/img-macbook-pro-2019.jpg" alt="">
                    <div class="description-box">
                        <i class="text-green delivery-icon fas fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h3 class="description text-dark-gray">MacBook Pro 2019</h3>
                    </div>
                </article>
                <article class="product-card">
                    <img class="width-100" src="/imagenes/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="description-box">
                        <i class="text-green delivery-icon fas fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="discount" class="text green">10% off</p>
                        <h3 class="description text-dark-gray">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article class="product-card">
                    <img class="width-100" src="/imagenes/img-tv-samsung-smart.jpg" alt="">
                    <div class="description-box">
                        <i class="text-green delivery-icon fas fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h3 class="description text-dark-gray">Smart TV samsung 43"</h3>
                    </div>
                </article>
            </section>
        </section>
        <section>
            <h2 class="section-tittle">Seccion Ofertas</h2>
            <section class="article-container">
                <article class="product-card ">
                    <img class="width-100" src="/imagenes/img-cafetera-moulinex.jpg" alt="">
                    <div class="description-box">
                        <i class="text-green delivery-icon fas fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="discount text-green">40% off</p>
                        <h3 class="description text-dark-gray">cafetera Moulinex</h3>
                    </div>
                </article>
                <article class="product-card">
                    <img class="width-100" src="/imagenes/img-macbook-pro-2019.jpg" alt="">
                    <div class="description-box">
                        <i class="text-green delivery-icon fas fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h3 class="description text-dark-gray">MacBook Pro 2019</h3>
                    </div>
                </article>
                <article class="product-card">
                    <img class="width-100" src="/imagenes/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="description-box">
                        <i class="text-green delivery-icon fas fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="discount" class="text green">10% off</p>
                        <h3 class="description text-dark-gray">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article class="product-card">
                    <img class="width-100" src="/imagenes/img-tv-samsung-smart.jpg" alt="">
                    <div class="description-box">
                        <i class="text-green delivery-icon fas fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h3 class="description text-dark-gray">Smart TV samsung 43"</h3>
                    </div>
                </article>
            </section>
        </section>

    </main>
    <footer class="footer-container">
        <section class=" footer-description text-center text-dark-gray">
            <i class="footer-icon fas fa-credit-card"></i>
            <h2>Pagá con tarjeta o efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class=" footer-description text-center text-dark-gray">
            <i class="footer-icon fas fa-gift"></i>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section class=" footer-description text-center text-dark-gray">
            <i class="footer-icon fas fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>

            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section>
            <p class="text center copyrhit-description text-dark-gray">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>


</html>