<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/home.css">

</head>

<body class="bg-light-gray">
    <header class="bg-main padding-30">
        <section class="contenedor-logo-serch">


            <a class="logo" href="/">
                <h1>

                    <img src="/imagenes/logo-mercado-liebre.svg" alt="Mercado Liebre" />

                </h1>
            </a>

            <form class="nav-bar"><input class="input" type="search" name="search" id="search" placeholder="buscar productos, marcas y más " />
                <button class="serch-icon" type=" submit "> <i class= "fa-solid fa-magnifying-glass"></i></button>

            </form>
            <p class="copy-header">
                <i class="fas fa-hand-holding-usd"></i> compra en cuotas y sin tarjeta de credito
            </p>
        </section>
        <nav class="main-nav">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <ul class="right-navbar">
                    <li>
                        <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                    </li>
                    <li>
                        <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li>
                        <a href="">Mis Compras <i class="fas fa-shopping-basket"></i></a>
                    </li>
                </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <form class="margin-y-16 main-font" action="" method="get">
            <div class="control-formulario">
                <label class="hidden" for="username">nombre de usuario</label>
                <input class="input-box" type="text" name="username" id="username" placeholder="nombre de usuario">
            </div>
            <div class="control-formulario">
                <label class="hidden" for="password">contraseña</label>
                <input class="input-box" type="password" name="password" id="password" placeholder="contraseña">
            </div>
            <div> <button class="button-login button-primary" type="submit">enviar</button></div>

        </form>
    </main>
    <footer class="footer-container">
        <section class=" footer-description text-center text-dark-gray">
            <i class="footer-icon fas fa-credit-card"></i>
            <h2>Pagá con tarjeta o efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class=" footer-description text-center text-dark-gray">
            <i class="footer-icon fas fa-gift"></i>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section class=" footer-description text-center text-dark-gray">
            <i class="footer-icon fas fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>

            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section>
            <p class="text center copyrhit-description text-dark-gray">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>


</html>